# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Production build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
